#constituency-map

#key
  %p
    Each constituency is coloured according to the proportion of the vote
    received by each party: Conservative, Labour, Liberal Democrats and Others.
  %table
    %tr{ valign: 'top' }
      %td.label{ align: 'right' } LD
      %td{ rowspan: 3 } 
        .swatches
          %canvas.colour-swatch#colour-swatch-1
          %canvas.colour-swatch#colour-swatch-2
      %td.label{ align: 'left' } Oth
    %tr{ valign: 'middle' }
      %td.label{ align: 'right' } Lab
      %td.label{ align: 'left' } Con
    %tr{ valign: 'bottom' }
      %td.label{ align: 'right' } Oth
      %td.label{ align: 'left' } LD
  %legend
    %a{ href: 'http://blog.richardallen.co.uk/uk-political-party-web-colours/' } UK Political Party Web Colours
  %p The popular vote is shown in the swatch below:
  #popular-vote
  %p#popular-vote-caption
